<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Media Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<header th:replace="fragments/header"></header>
<body>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card px-0">
            <div class="card-header">
                <h2 class="text-center">Settings</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">Settings saved!</div>
            </div>
            <form method="post"
                  th:action="@{/settings}"
                  th:object="${settings}">
                <div class="container">
                    <h3 class="mb-3">Lib Folders</h3>
                    <div class="form-group mb-3">
                        <label class="form-label">Paths</label>
                        <input type="text"
                               id="lib-path"
                               name="lib-path"
                               class="form-control"
                               th:field="*{libPath}"/>
                        <p th:errors="*{libPath}" class="text-danger"
                           th:if="${#fields.hasErrors('libPath')}"></p>
                    </div>
                    <h4 class="mb-3">Qbittorrent API</h4>
                    <div class="form-group mb-3">
                        <label class="form-label">Host</label>
                        <input type="text"
                               id="host"
                               name="host"
                               class="form-control"
                               th:field="*{host}"/>
                        <p th:errors="*{host}" class="text-danger"
                           th:if="${#fields.hasErrors('host')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Port</label>
                        <input type="number"
                               id="port"
                               name="port"
                               class="form-control"
                               th:field="*{port}"/>
                        <p th:errors="*{port}" class="text-danger"
                           th:if="${#fields.hasErrors('port')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">qBittorrent Login</label>
                        <input type="text"
                               id="login"
                               name="login"
                               class="form-control"
                               th:field="*{login}"/>
                        <p th:errors="*{login}" class="text-danger"
                           th:if="${#fields.hasErrors('login')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">qBittorrent Password</label>
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control"
                               th:value="*{password}"/>
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Torrents Path</label>
                        <input type="text"
                               id="torrents-path"
                               name="torrentsPath"
                               class="form-control"
                               th:field="*{torrentsPath}"/>
                        <p th:errors="*{torrentsPath}" class="text-danger"
                           th:if="${#fields.hasErrors('torrentsPath')}"></p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <br>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>